body {
    /* position */

    /* size */
    
    /* appearance */
    background: #4a4b4c;

}
#sqrGrid {
    /* position */
    margin: 5rem auto;

    /* size */
    max-width: 20rem;

    /* appearance */
    /* background: red; */

    /* child position */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;

    /* child size */
    
    /* child appearance */

}
#sqr {
    /* position */
    margin: 0 auto;
    
    /* size */
    width: 5rem;
    height: 5rem;

    /* appearance */
    background: #4a4b4c;

}
#dotGrid {
    /* position */
    margin: -27.5rem auto;

    /* size */
    max-width: 25rem;

    /* appearance */

    /* child position */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    /* child size */
    
    /* child appearance */

}
#dot {
    /* position */
    margin: 2.25rem auto;
    
    /* size */
    width: 0.5rem;
    height: 0.5rem;

    /* appearance */
    border-radius: 0.25rem;
    background: greenyellow;

}
#vrtGrid {
    /* position */
    margin: 5rem auto;

    /* size */
    max-width: 25rem;

    /* appearance */
    /* background: red; */

    /* child position */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;

    /* child size */
    
    /* child appearance */

}
#vrt {
    /* position */
    margin: 0.25rem auto;
    
    /* size */
    width: 0.5rem;
    height: 4.5rem;

    /* appearance */
    border-radius: 0.25rem;
    background: #4a4b4c;

}
#hrzGrid {
    /* position */
    margin: -27.5rem auto;

    /* size */
    max-width: 20rem;

    /* appearance */

    /* background: red; */

    /* child position */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    /* child size */
    
    /* child appearance */

}
#hrz {
    /* position */
    margin: 2.25rem auto;
    
    /* size */
    width: 4.5rem;
    height: 0.5rem;

    /* appearance */
    border-radius: 0.25rem;
    background: #4a4b4c;

}